.advantages {
    margin-top: 50px;
    justify-content: center;
    max-width: 1160px;
    position: relative;
    z-index: 3;
    width: 100%;
    @include vp-1279() {
        max-width: initial;
        width: 100%;
        padding: 0 30px;
    }
    @include vp-768() {
        padding: 0 15px;
    }

    .advantages__block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @include vp-1279() {
           gap: 20px;
        }
        @include vp-768(){
            flex-direction: column-reverse;
            margin-bottom: 20px;
        }
        &:nth-of-type(even){
            @include vp-768(){
                flex-direction: column;
            }
        }

        &-img {
            img {
                object-fit: cover;
                width: 400px;
                @include vp-1279() {
                    width: 100%;
                }
            }
        }
        &-content {
            display: flex;
            flex-direction: column;
            width: 500px;
            @include vp-1279() {
                width: 100%;
            }
            &__title {
                margin-bottom: 20px;
            }
            p{
                width: 400px;
                margin: 10px 0;
                @include vp-1279() {
                    width: 100%;
                }
            }

        }
    }
}
