.bar {
    position: relative;
    width: 100%;
    height: max-content;

    .vue-echarts {
        div {
            width: initial !important;
        }
    }

    p {
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        color: #6f767e;
    }

    &-select {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include vp-768() {
            flex-direction: column;
        }

        &__navbar {
            display: flex;
            flex-direction: row;
            font-size: 18px;
            line-height: 32px;
            max-width: 800px;
            width: 100%;
            white-space: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;

            li {
                cursor: pointer;
            }

            @include vp-768() {
                flex-direction: column;
            }
        }

        .modal__select {
            max-width: 200px;
            width: 100%;
            @include vp-768() {
                max-width: initial;

            }

            &-selected {
                height: 20px;
                border: none;
                justify-content: initial;
                @include vp-768() {
                    padding: 0;
                    display: flex;
                    justify-content: center;
                }

                span {
                    margin-right: 10px;
                }
            }
        }
    }

    &__empty {
        width: 100%;
        position: absolute;
        top: 50%;
        margin: 0 auto;

        p {
            text-align: center;
        }
    }
}
