.bar{
    position: relative;
    width: 100%;
    height: max-content;
    &-select{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__navbar{
            display: flex;
            flex-direction: row;
            font-size: 18px;
            line-height: 32px;
            max-width: 800px;
            width: 100%;
            white-space: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;
            li{
                cursor: pointer;
            }
        }

        .modal__select{
            max-width: 200px;
            width: 100%;
            &-selected{
                height: 20px;
                border: none;
                justify-content: initial;
                span{
                    margin-right: 10px;
                }
            }
        }
    }

    &__empty{
        width: 100%;
        position: absolute;
        top: 50%;
        margin: 0 auto;
        p{
            text-align: center;
        }
    }
}
