.charts {
    position: relative;
    width: 100%;
    height: max-content;
    .vue-echarts {
        div{
            width: initial!important;
            height:100%!important;
        }
    }
    h4{
        position: absolute;
        bottom: 10px;
        left: 0;
        white-space: nowrap;
    }
    button{
        position: absolute;
        bottom: 20px;
        right: 20px;
        white-space: nowrap;
    }
    &-select{
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        .modal__select{
            margin: 0 auto;
           max-width: 200px;
            width: 100%;
          &-selected{
              height: 20px;
              border: none;
              justify-content: initial;
              span{
                  margin-right: 10px;
              }
          }
        }
    }
}


