.form {
    display: flex;
    flex-direction: column;
    min-width: 600px;


    @include vp-768() {
        width: 100%;
        min-width: 120px;
    }

    font-family: 'Roboto',
    sans-serif;

    .title--2 {
        margin-bottom: 30px;
        text-align: center;
    }

    &__block {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include vp-768() {
            width: 100%;
        }


        label {
            color: $label-color;
            margin-bottom: 10px;
        }

        input {
            font-size: 18px;
            line-height: 32px;
            color: $label-color;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            width: 100%;
            height: 55px;
            padding: 0 20px;

            @include vp-768() {
                width: 100%;
            }

            &::placeholder {
                font-size: 18px;
                line-height: 32px;
                color: $label-color;
            }
        }

        span {
            font-size: 14px;
            font-weight: 600;
            margin-top: 5px;
            color: $error-color;
        }

        &-radio {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 20px;
            width: 100%;
            &__wrap {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px 0 10px 10px;

                input {
                    width: 15px;
                    height: 15px;
                }

                label {
                    margin-bottom: 0;
                    margin-left: 10px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        &-lists {
            overflow-y: scroll;
            width: 100%;
            max-height: 200px;
            height: 500px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                background-color: $light-white;
            }

            &::-webkit-scrollbar-thumb {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }

            li {
                width: 100%;
                height: 50px;
                color: $light-black;
                display: flex;
                flex-direction: row;
                padding: 0 20px;
                align-items: center;

                p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    white-space: nowrap;

                    &:nth-of-type(3) {
                        margin-right: 25px;
                    }
                }

                input {
                    border: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 0;
                    height: 20px;
                    padding: 0 5px;
                    font-size: 14px;
                    line-height: 16px;
                    margin: 0 5px;

                    &:nth-of-type(3) {
                        width: 25px;
                        padding: 0 2px;
                    }

                    &:nth-of-type(2) {
                        width: 100px;
                        text-align: right;
                    }

                    &:nth-of-type(1) {
                        width: 200px;
                        margin-right: 25px;
                        text-align: right;
                    }
                }


                &:nth-of-type(even) {
                    background-color: $light-white;
                }
            }

            &__delete {
                padding: 5px;

                img {
                    width: 16px;
                    height: 16px;
                }
            }

            &__add {
                width: 100%;
                text-align: center;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: $title-color;
                padding: 15px;
                margin: 10px 0 10px 0;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        &-price {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            label {
                white-space: nowrap;
                font-weight: 600;
                font-size: 18px;
                line-height: 20px;
            }
        }

    }

    &__btn {
        background: $light-purple;
        border-radius: 8px;
        padding: 15px 25px;
        text-align: center;
        color: $white;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin: 0 auto;
        width: 100%;

        &:disabled {
            background: $light-gray;
        }

    }

    &__tree {
        margin-top: 10px;
        font-size: 18px;
        line-height: 32px;
        color: $light-black;
        text-align: center;

        a {
            cursor: pointer;
            font-size: 18px;
            line-height: 32px;
            color: $light-purple;

            @include vp-768() {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}


.dp__instance_calendar {
    font-size: 16px;
}

.dp__selection_preview, .dp__action_buttons {
    font-size: 14px;
}


.form__submitted{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 600px;
    &-logo{
        width: 150px;
        margin: 0 auto;
        img{
            max-width: 150px;
        }
    }
    h2{
      margin-top: 30px;
    }
    button{
        margin-top: 30px;
        max-width: 400px;
    }
}
