.header {
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 4;

    img {
        width: 150px;
    }

    &__content {
        max-width: 1160px;
        width: 100%;
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include vp-1279() {
            max-width: initial;
            width: 100%;
            padding: 0 30px;
        }
        @include vp-768() {
            padding: 0 ;
        }
    }

    @include vp-1279() {
        padding: 0 40px;
    }
    @include vp-768() {
        padding: 0 15px;
    }
}

.subheader {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 50vh;
    @include vp-1279() {
        height: max-content;
    }


    &__wrap {
        max-width: 1160px;
        height: max-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        @include vp-1279() {
            max-width: initial;
            width: 100%;
            padding: 0 30px;
        }
        @include vp-768(){
            flex-direction: column;
            padding: 0 15px;
        }
    }

    &__content {
        padding: 0 40px;
        z-index: 3;
        width: 700px;
        @include vp-1279() {

            width: 100%;
            padding: 0;
        }
    }

    &__preview {
        z-index: 3;

        img {
            object-fit: cover;
            width: 700px;
            @include vp-1279() {
                width: 100%;
                padding: 0 ;
            }

        }
    }

    &__background {
        width: 100%;
        position: absolute;
        z-index: 2;
        top: -85px;

        img {
            object-fit: cover;
            width: 100%;
        }
    }
}
