.home-swiper {
    max-width: 100%;
    overflow: hidden !important;
    height: 800px;
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;

    &__laptop {
        position: absolute;
        z-index: 4;
        pointer-events: none;

        img {
            width: 800px;
        }
    }

    &__swipe {
        max-width: 1180px;
        position: relative;
        top: 55px;
        height: max-content;

        .swiper {
            .swiper-pagination {
                width: 100%;
                height: 100% !important;
                position: absolute !important;
                z-index: 7;

                .swiper-pagination-bullet {
                    width: 50px;
                    height: 50px;
                    background: linear-gradient(180deg, #2A4A64 0%, #B3C1CC 100%);

                    &:nth-of-type(1) {
                        position: absolute !important;
                        left: 0 !important;
                        top: 50px !important;

                        &:after {
                            content: "1";
                            top: 6px;
                            left: 17px;
                            position: absolute;
                            color: $white;
                            font-weight: 700;
                            font-size: 36px
                        }
                    }

                    &:nth-of-type(2) {
                        position: absolute !important;
                        right: 0 !important;
                        top: 50px !important;

                        &:after {
                            content: "2";
                            top: 6px;
                            left: 17px;
                            position: absolute;
                            color: $white;
                            font-weight: 700;
                            font-size: 36px
                        }
                    }

                    &:nth-of-type(3) {
                        position: absolute !important;
                        left: 0 !important;
                        bottom: 70px !important;

                        &:after {
                            content: "3";
                            top: 6px;
                            left: 17px;
                            position: absolute;
                            color: $white;
                            font-weight: 700;
                            font-size: 36px
                        }
                    }

                    &:nth-of-type(4) {
                        position: absolute !important;
                        right: 0 !important;
                        bottom: 70px !important;

                        &:after {
                            content: "4";
                            top: 6px;
                            left: 17px;
                            position: absolute;
                            color: $white;
                            font-weight: 700;
                            font-size: 36px

                        }
                    }
                }
            }
        }

        &__pagination-text {
            position: absolute;
            z-index: 1;

            p {
                margin-top: 10px;
            }

            &:nth-of-type(2) {
                position: absolute !important;
                left: 75px !important;
                top: 55px !important;
                width: 150px;
            }

            &:nth-of-type(3) {
                position: absolute !important;
                right: 75px !important;
                top: 55px !important;
                width: 150px;
            }

            &:nth-of-type(4) {
                position: absolute !important;
                left: 75px !important;
                bottom: 25px !important;
                width: 250px;
            }

            &:nth-of-type(5) {
                position: absolute !important;
                right: 75px !important;
                bottom: 0px !important;
                width: 150px;
            }
        }
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            object-fit: cover;
            overflow: hidden;
            height: 400px;
        }
    }

}
