.home-swiper {
    max-width: 100%;
    overflow: hidden !important;
    height: 550px;
    width: 100%;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    @include vp-768() {
    height: 800px;
    }


    &__laptop {
        position: absolute;
        z-index: 4;
        pointer-events: none;

        img {
            width: 800px;
            @include vp-1279() {
                display: none;
                width: 500px;
            }
        }
    }

    &__swipe {
        max-width: 1180px;
        @include vp-1279() {
            max-width: initial;
            width: 100%;
            padding: 0 30px;
        }
        @include vp-768() {
            padding: 0 15px;
        }
        position: relative;
        top: 55px;
        height: max-content;

        .swiper {
            @include vp-768() {
                height: 800px!important;
            }
            .swiper-pagination {
                width: 100%;
                height: 100% !important;
                position: absolute !important;
                z-index: 7;
                @include vp-768() {
                    height: 780px!important;
                }

                .swiper-pagination-bullet {
                    width: 50px;
                    height: 50px;
                    background: linear-gradient(180deg, #2A4A64 0%, #B3C1CC 100%);

                    &:nth-of-type(1) {
                        position: absolute !important;
                        left: 0 !important;
                        top: 50px !important;
                        @include vp-768() {
                            left: 0 !important;
                            top: 0 !important;
                        }
                        &:after {
                            content: "1";
                            top: 6px;
                            left: 17px;
                            position: absolute;
                            color: $white;
                            font-weight: 700;
                            font-size: 36px
                        }
                    }

                    &:nth-of-type(2) {
                        position: absolute !important;
                        right: 0 !important;
                        top: 50px !important;

                        @include vp-768() {
                            left: 0  !important;
                            top: 150px !important;
                        }

                        &:after {
                            content: "2";
                            top: 6px;
                            left: 17px;
                            position: absolute;
                            color: $white;
                            font-weight: 700;
                            font-size: 36px
                        }
                    }

                    &:nth-of-type(3) {
                        position: absolute !important;
                        left: 0 !important;
                        bottom: 70px !important;

                        @include vp-768() {
                            left: 0 !important;
                            bottom: 200px !important;
                        }

                        &:after {
                            content: "3";
                            top: 6px;
                            left: 17px;
                            position: absolute;
                            color: $white;
                            font-weight: 700;
                            font-size: 36px
                        }
                    }

                    &:nth-of-type(4) {
                        position: absolute !important;
                        right: 0 !important;
                        bottom: 70px !important;
                        @include vp-768() {
                            left: 0 !important;
                            bottom: 70px !important;
                        }
                        &:after {
                            content: "4";
                            top: 6px;
                            left: 17px;
                            position: absolute;
                            color: $white;
                            font-weight: 700;
                            font-size: 36px

                        }
                    }
                }
            }
        }

        &__pagination-text {
            position: absolute;
            z-index: 1;

            p {
                margin-top: 10px;
            }

            &:nth-of-type(2) {
                position: absolute !important;
                left: 75px !important;
                top: 55px !important;
                width: 150px;
                @include vp-1279() {
                    left: 105px !important;
                }
                @include vp-768() {
                    left: 90px !important;
                    top: 0px !important;
                }
            }

            &:nth-of-type(3) {
                position: absolute !important;
                right: 75px !important;
                top: 55px !important;
                width: 150px;
                @include vp-1279() {
                    right: 105px !important;
                }
                @include vp-768() {
                    left:90px !important;
                    top: 150px !important;
                }
            }

            &:nth-of-type(4) {
                position: absolute !important;
                left: 75px !important;
                bottom: 25px !important;
                width: 250px;
                @include vp-1279() {
                    left: 105px !important;
                }
                @include vp-768() {
                    left: 90px !important;
                    bottom: 175px !important;
                }
            }

            &:nth-of-type(5) {
                position: absolute !important;
                right: 75px !important;
                bottom: 0px !important;
                width: 150px;
                @include vp-1279() {
                    right: 105px !important;
                }
                @include vp-768() {
                    left: 90px !important;
                    bottom: 55px !important;
                    width: 250px;
                }
            }
        }
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            object-fit: contain;
            overflow: hidden;
            height: 400px;
            @include vp-1279() {
                width: 500px;
                height: 500px;
            }
            @include vp-768(){
                width: 200px;
                height: 500px;

            }
        }
    }

}
