.mobile {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    max-width: 1160px;
    background-color: $white;
    padding: 30px 80px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 5;

    @include vp-1279() {
        max-width: initial;
        width: 100%;
        padding: 0 30px;
        gap: 20px;
    }
    @include vp-768() {
        padding: 20px 15px 0 15px;
        flex-direction: column;
    }

    &__content {
        h2 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
            max-width: 500px;
        }
    }

    &__logo {
        height: 400px;
        overflow: hidden;
        img {
            width: 300px;
            @include vp-1279() {
                width: 100%;
            }

        }
    }
}
