//colors background

$light-black: #111111;
$light-purple: #6941c7;
$light-gray:#888888;
$light-white:#F5F4F7;
$white:#FFFFFF;
$backdrop: rgba(0, 0, 0, 0.5);


// colors text
$title-color:#22343D;
$label-color:#6F767E;
$error-color:#E37575;
$bg-color:#eedcc4;
$header:#0f1437;

